<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.woniu.dao.ProductinMapper" >
  <resultMap id="BaseResultMap" type="com.woniu.domain.Productin" >
    <id column="PIID" property="piid" jdbcType="INTEGER" />
    <result column="PIInDate" property="piindate" jdbcType="DATE" />
    <result column="PIAllPrice" property="piallprice" jdbcType="REAL" />
    <result column="PIPayWay" property="pipayway" jdbcType="VARCHAR" />
    <result column="PIPay" property="pipay" jdbcType="VARCHAR" />
    <result column="userID" property="userid" jdbcType="INTEGER" />
    <result column="PIOthers" property="piothers" jdbcType="VARCHAR" />
  </resultMap>
  
  <!-- ==============分页查询============ -->
  <select id="findAllBySql" parameterType="java.util.Map" resultMap="BaseResultMap">
  	select 
  	<include refid="Base_Column_List" />
  	from productin limit #{currIndex},#{pageSize}
  </select>
   
  <!-- ================================== -->
  
  
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    PIID, PIInDate, PIAllPrice, PIPayWay, PIPay, userID, PIOthers
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.woniu.domain.ProductinExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from productin
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from productin
    where PIID = #{piid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from productin
    where PIID = #{piid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.woniu.domain.ProductinExample" >
    delete from productin
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.woniu.domain.Productin" >
    insert into productin (PIID, PIInDate, PIAllPrice, 
      PIPayWay, PIPay, userID, 
      PIOthers)
    values (#{piid,jdbcType=INTEGER}, #{piindate,jdbcType=DATE}, #{piallprice,jdbcType=REAL}, 
      #{pipayway,jdbcType=VARCHAR}, #{pipay,jdbcType=VARCHAR}, #{userid,jdbcType=INTEGER}, 
      #{piothers,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.woniu.domain.Productin" >
    insert into productin
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="piid != null" >
        PIID,
      </if>
      <if test="piindate != null" >
        PIInDate,
      </if>
      <if test="piallprice != null" >
        PIAllPrice,
      </if>
      <if test="pipayway != null" >
        PIPayWay,
      </if>
      <if test="pipay != null" >
        PIPay,
      </if>
      <if test="userid != null" >
        userID,
      </if>
      <if test="piothers != null" >
        PIOthers,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="piid != null" >
        #{piid,jdbcType=INTEGER},
      </if>
      <if test="piindate != null" >
        #{piindate,jdbcType=DATE},
      </if>
      <if test="piallprice != null" >
        #{piallprice,jdbcType=REAL},
      </if>
      <if test="pipayway != null" >
        #{pipayway,jdbcType=VARCHAR},
      </if>
      <if test="pipay != null" >
        #{pipay,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="piothers != null" >
        #{piothers,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.woniu.domain.ProductinExample" resultType="java.lang.Integer" >
    select count(*) from productin
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update productin
    <set >
      <if test="record.piid != null" >
        PIID = #{record.piid,jdbcType=INTEGER},
      </if>
      <if test="record.piindate != null" >
        PIInDate = #{record.piindate,jdbcType=DATE},
      </if>
      <if test="record.piallprice != null" >
        PIAllPrice = #{record.piallprice,jdbcType=REAL},
      </if>
      <if test="record.pipayway != null" >
        PIPayWay = #{record.pipayway,jdbcType=VARCHAR},
      </if>
      <if test="record.pipay != null" >
        PIPay = #{record.pipay,jdbcType=VARCHAR},
      </if>
      <if test="record.userid != null" >
        userID = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.piothers != null" >
        PIOthers = #{record.piothers,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update productin
    set PIID = #{record.piid,jdbcType=INTEGER},
      PIInDate = #{record.piindate,jdbcType=DATE},
      PIAllPrice = #{record.piallprice,jdbcType=REAL},
      PIPayWay = #{record.pipayway,jdbcType=VARCHAR},
      PIPay = #{record.pipay,jdbcType=VARCHAR},
      userID = #{record.userid,jdbcType=INTEGER},
      PIOthers = #{record.piothers,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.woniu.domain.Productin" >
    update productin
    <set >
      <if test="piindate != null" >
        PIInDate = #{piindate,jdbcType=DATE},
      </if>
      <if test="piallprice != null" >
        PIAllPrice = #{piallprice,jdbcType=REAL},
      </if>
      <if test="pipayway != null" >
        PIPayWay = #{pipayway,jdbcType=VARCHAR},
      </if>
      <if test="pipay != null" >
        PIPay = #{pipay,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        userID = #{userid,jdbcType=INTEGER},
      </if>
      <if test="piothers != null" >
        PIOthers = #{piothers,jdbcType=VARCHAR},
      </if>
    </set>
    where PIID = #{piid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.woniu.domain.Productin" >
    update productin
    set PIInDate = #{piindate,jdbcType=DATE},
      PIAllPrice = #{piallprice,jdbcType=REAL},
      PIPayWay = #{pipayway,jdbcType=VARCHAR},
      PIPay = #{pipay,jdbcType=VARCHAR},
      userID = #{userid,jdbcType=INTEGER},
      PIOthers = #{piothers,jdbcType=VARCHAR}
    where PIID = #{piid,jdbcType=INTEGER}
  </update>
</mapper>