<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.woniu.dao.StaffMapper" >
  <resultMap id="BaseResultMap" type="com.woniu.domain.Staff" >
    <id column="staffID" property="staffid" jdbcType="INTEGER" />
    <result column="staffName" property="staffname" jdbcType="VARCHAR" />
    <result column="staffSex" property="staffsex" jdbcType="BIT" />
    <result column="staffAge" property="staffage" jdbcType="INTEGER" />
    <result column="staffHome" property="staffhome" jdbcType="VARCHAR" />
    <result column="staffDiploma" property="staffdiploma" jdbcType="VARCHAR" />
    <result column="staffSalary" property="staffsalary" jdbcType="REAL" />
    <result column="staffDuty" property="staffduty" jdbcType="VARCHAR" />
    <result column="staffPhone" property="staffphone" jdbcType="CHAR" />
    <result column="staffAddress" property="staffaddress" jdbcType="VARCHAR" />
    <result column="staffIdCard" property="staffidcard" jdbcType="CHAR" />
    <result column="staffBeginDate" property="staffbegindate" jdbcType="DATE" />
    <result column="staffEnactTime" property="staffenacttime" jdbcType="DATE" />
    <result column="staffOthers" property="staffothers" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    staffID, staffName, staffSex, staffAge, staffHome, staffDiploma, staffSalary, staffDuty, 
    staffPhone, staffAddress, staffIdCard, staffBeginDate, staffEnactTime, staffOthers
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.woniu.domain.StaffExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from staff
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from staff
    where staffID = #{staffid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from staff
    where staffID = #{staffid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.woniu.domain.StaffExample" >
    delete from staff
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.woniu.domain.Staff" >
    insert into staff (staffID, staffName, staffSex, 
      staffAge, staffHome, staffDiploma, 
      staffSalary, staffDuty, staffPhone, 
      staffAddress, staffIdCard, staffBeginDate, 
      staffEnactTime, staffOthers)
    values (#{staffid,jdbcType=INTEGER}, #{staffname,jdbcType=VARCHAR}, #{staffsex,jdbcType=BIT}, 
      #{staffage,jdbcType=INTEGER}, #{staffhome,jdbcType=VARCHAR}, #{staffdiploma,jdbcType=VARCHAR}, 
      #{staffsalary,jdbcType=REAL}, #{staffduty,jdbcType=VARCHAR}, #{staffphone,jdbcType=CHAR}, 
      #{staffaddress,jdbcType=VARCHAR}, #{staffidcard,jdbcType=CHAR}, #{staffbegindate,jdbcType=DATE}, 
      #{staffenacttime,jdbcType=DATE}, #{staffothers,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.woniu.domain.Staff" >
    insert into staff
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="staffid != null" >
        staffID,
      </if>
      <if test="staffname != null" >
        staffName,
      </if>
      <if test="staffsex != null" >
        staffSex,
      </if>
      <if test="staffage != null" >
        staffAge,
      </if>
      <if test="staffhome != null" >
        staffHome,
      </if>
      <if test="staffdiploma != null" >
        staffDiploma,
      </if>
      <if test="staffsalary != null" >
        staffSalary,
      </if>
      <if test="staffduty != null" >
        staffDuty,
      </if>
      <if test="staffphone != null" >
        staffPhone,
      </if>
      <if test="staffaddress != null" >
        staffAddress,
      </if>
      <if test="staffidcard != null" >
        staffIdCard,
      </if>
      <if test="staffbegindate != null" >
        staffBeginDate,
      </if>
      <if test="staffenacttime != null" >
        staffEnactTime,
      </if>
      <if test="staffothers != null" >
        staffOthers,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="staffid != null" >
        #{staffid,jdbcType=INTEGER},
      </if>
      <if test="staffname != null" >
        #{staffname,jdbcType=VARCHAR},
      </if>
      <if test="staffsex != null" >
        #{staffsex,jdbcType=BIT},
      </if>
      <if test="staffage != null" >
        #{staffage,jdbcType=INTEGER},
      </if>
      <if test="staffhome != null" >
        #{staffhome,jdbcType=VARCHAR},
      </if>
      <if test="staffdiploma != null" >
        #{staffdiploma,jdbcType=VARCHAR},
      </if>
      <if test="staffsalary != null" >
        #{staffsalary,jdbcType=REAL},
      </if>
      <if test="staffduty != null" >
        #{staffduty,jdbcType=VARCHAR},
      </if>
      <if test="staffphone != null" >
        #{staffphone,jdbcType=CHAR},
      </if>
      <if test="staffaddress != null" >
        #{staffaddress,jdbcType=VARCHAR},
      </if>
      <if test="staffidcard != null" >
        #{staffidcard,jdbcType=CHAR},
      </if>
      <if test="staffbegindate != null" >
        #{staffbegindate,jdbcType=DATE},
      </if>
      <if test="staffenacttime != null" >
        #{staffenacttime,jdbcType=DATE},
      </if>
      <if test="staffothers != null" >
        #{staffothers,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.woniu.domain.StaffExample" resultType="java.lang.Integer" >
    select count(*) from staff
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update staff
    <set >
      <if test="record.staffid != null" >
        staffID = #{record.staffid,jdbcType=INTEGER},
      </if>
      <if test="record.staffname != null" >
        staffName = #{record.staffname,jdbcType=VARCHAR},
      </if>
      <if test="record.staffsex != null" >
        staffSex = #{record.staffsex,jdbcType=BIT},
      </if>
      <if test="record.staffage != null" >
        staffAge = #{record.staffage,jdbcType=INTEGER},
      </if>
      <if test="record.staffhome != null" >
        staffHome = #{record.staffhome,jdbcType=VARCHAR},
      </if>
      <if test="record.staffdiploma != null" >
        staffDiploma = #{record.staffdiploma,jdbcType=VARCHAR},
      </if>
      <if test="record.staffsalary != null" >
        staffSalary = #{record.staffsalary,jdbcType=REAL},
      </if>
      <if test="record.staffduty != null" >
        staffDuty = #{record.staffduty,jdbcType=VARCHAR},
      </if>
      <if test="record.staffphone != null" >
        staffPhone = #{record.staffphone,jdbcType=CHAR},
      </if>
      <if test="record.staffaddress != null" >
        staffAddress = #{record.staffaddress,jdbcType=VARCHAR},
      </if>
      <if test="record.staffidcard != null" >
        staffIdCard = #{record.staffidcard,jdbcType=CHAR},
      </if>
      <if test="record.staffbegindate != null" >
        staffBeginDate = #{record.staffbegindate,jdbcType=DATE},
      </if>
      <if test="record.staffenacttime != null" >
        staffEnactTime = #{record.staffenacttime,jdbcType=DATE},
      </if>
      <if test="record.staffothers != null" >
        staffOthers = #{record.staffothers,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update staff
    set staffID = #{record.staffid,jdbcType=INTEGER},
      staffName = #{record.staffname,jdbcType=VARCHAR},
      staffSex = #{record.staffsex,jdbcType=BIT},
      staffAge = #{record.staffage,jdbcType=INTEGER},
      staffHome = #{record.staffhome,jdbcType=VARCHAR},
      staffDiploma = #{record.staffdiploma,jdbcType=VARCHAR},
      staffSalary = #{record.staffsalary,jdbcType=REAL},
      staffDuty = #{record.staffduty,jdbcType=VARCHAR},
      staffPhone = #{record.staffphone,jdbcType=CHAR},
      staffAddress = #{record.staffaddress,jdbcType=VARCHAR},
      staffIdCard = #{record.staffidcard,jdbcType=CHAR},
      staffBeginDate = #{record.staffbegindate,jdbcType=DATE},
      staffEnactTime = #{record.staffenacttime,jdbcType=DATE},
      staffOthers = #{record.staffothers,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.woniu.domain.Staff" >
    update staff
    <set >
      <if test="staffname != null" >
        staffName = #{staffname,jdbcType=VARCHAR},
      </if>
      <if test="staffsex != null" >
        staffSex = #{staffsex,jdbcType=BIT},
      </if>
      <if test="staffage != null" >
        staffAge = #{staffage,jdbcType=INTEGER},
      </if>
      <if test="staffhome != null" >
        staffHome = #{staffhome,jdbcType=VARCHAR},
      </if>
      <if test="staffdiploma != null" >
        staffDiploma = #{staffdiploma,jdbcType=VARCHAR},
      </if>
      <if test="staffsalary != null" >
        staffSalary = #{staffsalary,jdbcType=REAL},
      </if>
      <if test="staffduty != null" >
        staffDuty = #{staffduty,jdbcType=VARCHAR},
      </if>
      <if test="staffphone != null" >
        staffPhone = #{staffphone,jdbcType=CHAR},
      </if>
      <if test="staffaddress != null" >
        staffAddress = #{staffaddress,jdbcType=VARCHAR},
      </if>
      <if test="staffidcard != null" >
        staffIdCard = #{staffidcard,jdbcType=CHAR},
      </if>
      <if test="staffbegindate != null" >
        staffBeginDate = #{staffbegindate,jdbcType=DATE},
      </if>
      <if test="staffenacttime != null" >
        staffEnactTime = #{staffenacttime,jdbcType=DATE},
      </if>
      <if test="staffothers != null" >
        staffOthers = #{staffothers,jdbcType=VARCHAR},
      </if>
    </set>
    where staffID = #{staffid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.woniu.domain.Staff" >
    update staff
    set staffName = #{staffname,jdbcType=VARCHAR},
      staffSex = #{staffsex,jdbcType=BIT},
      staffAge = #{staffage,jdbcType=INTEGER},
      staffHome = #{staffhome,jdbcType=VARCHAR},
      staffDiploma = #{staffdiploma,jdbcType=VARCHAR},
      staffSalary = #{staffsalary,jdbcType=REAL},
      staffDuty = #{staffduty,jdbcType=VARCHAR},
      staffPhone = #{staffphone,jdbcType=CHAR},
      staffAddress = #{staffaddress,jdbcType=VARCHAR},
      staffIdCard = #{staffidcard,jdbcType=CHAR},
      staffBeginDate = #{staffbegindate,jdbcType=DATE},
      staffEnactTime = #{staffenacttime,jdbcType=DATE},
      staffOthers = #{staffothers,jdbcType=VARCHAR}
    where staffID = #{staffid,jdbcType=INTEGER}
  </update>
</mapper>