<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.woniu.dao.SupplierMapper" >
  <resultMap id="BaseResultMap" type="com.woniu.domain.Supplier" >
    <id column="SupplierID" property="supplierid" jdbcType="INTEGER" />
    <result column="SName" property="sname" jdbcType="VARCHAR" />
    <result column="SLinkman" property="slinkman" jdbcType="VARCHAR" />
    <result column="SPhone" property="sphone" jdbcType="CHAR" />
    <result column="SAddress" property="saddress" jdbcType="VARCHAR" />
    <result column="SBank" property="sbank" jdbcType="VARCHAR" />
    <result column="SAccountID" property="saccountid" jdbcType="VARCHAR" />
    <result column="SOthers" property="sothers" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    SupplierID, SName, SLinkman, SPhone, SAddress, SBank, SAccountID, SOthers
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.woniu.domain.SupplierExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from supplier
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from supplier
    where SupplierID = #{supplierid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from supplier
    where SupplierID = #{supplierid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.woniu.domain.SupplierExample" >
    delete from supplier
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.woniu.domain.Supplier" >
    insert into supplier (SupplierID, SName, SLinkman, 
      SPhone, SAddress, SBank, 
      SAccountID, SOthers)
    values (#{supplierid,jdbcType=INTEGER}, #{sname,jdbcType=VARCHAR}, #{slinkman,jdbcType=VARCHAR}, 
      #{sphone,jdbcType=CHAR}, #{saddress,jdbcType=VARCHAR}, #{sbank,jdbcType=VARCHAR}, 
      #{saccountid,jdbcType=VARCHAR}, #{sothers,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.woniu.domain.Supplier" >
    insert into supplier
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="supplierid != null" >
        SupplierID,
      </if>
      <if test="sname != null" >
        SName,
      </if>
      <if test="slinkman != null" >
        SLinkman,
      </if>
      <if test="sphone != null" >
        SPhone,
      </if>
      <if test="saddress != null" >
        SAddress,
      </if>
      <if test="sbank != null" >
        SBank,
      </if>
      <if test="saccountid != null" >
        SAccountID,
      </if>
      <if test="sothers != null" >
        SOthers,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="supplierid != null" >
        #{supplierid,jdbcType=INTEGER},
      </if>
      <if test="sname != null" >
        #{sname,jdbcType=VARCHAR},
      </if>
      <if test="slinkman != null" >
        #{slinkman,jdbcType=VARCHAR},
      </if>
      <if test="sphone != null" >
        #{sphone,jdbcType=CHAR},
      </if>
      <if test="saddress != null" >
        #{saddress,jdbcType=VARCHAR},
      </if>
      <if test="sbank != null" >
        #{sbank,jdbcType=VARCHAR},
      </if>
      <if test="saccountid != null" >
        #{saccountid,jdbcType=VARCHAR},
      </if>
      <if test="sothers != null" >
        #{sothers,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.woniu.domain.SupplierExample" resultType="java.lang.Integer" >
    select count(*) from supplier
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update supplier
    <set >
      <if test="record.supplierid != null" >
        SupplierID = #{record.supplierid,jdbcType=INTEGER},
      </if>
      <if test="record.sname != null" >
        SName = #{record.sname,jdbcType=VARCHAR},
      </if>
      <if test="record.slinkman != null" >
        SLinkman = #{record.slinkman,jdbcType=VARCHAR},
      </if>
      <if test="record.sphone != null" >
        SPhone = #{record.sphone,jdbcType=CHAR},
      </if>
      <if test="record.saddress != null" >
        SAddress = #{record.saddress,jdbcType=VARCHAR},
      </if>
      <if test="record.sbank != null" >
        SBank = #{record.sbank,jdbcType=VARCHAR},
      </if>
      <if test="record.saccountid != null" >
        SAccountID = #{record.saccountid,jdbcType=VARCHAR},
      </if>
      <if test="record.sothers != null" >
        SOthers = #{record.sothers,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update supplier
    set SupplierID = #{record.supplierid,jdbcType=INTEGER},
      SName = #{record.sname,jdbcType=VARCHAR},
      SLinkman = #{record.slinkman,jdbcType=VARCHAR},
      SPhone = #{record.sphone,jdbcType=CHAR},
      SAddress = #{record.saddress,jdbcType=VARCHAR},
      SBank = #{record.sbank,jdbcType=VARCHAR},
      SAccountID = #{record.saccountid,jdbcType=VARCHAR},
      SOthers = #{record.sothers,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.woniu.domain.Supplier" >
    update supplier
    <set >
      <if test="sname != null" >
        SName = #{sname,jdbcType=VARCHAR},
      </if>
      <if test="slinkman != null" >
        SLinkman = #{slinkman,jdbcType=VARCHAR},
      </if>
      <if test="sphone != null" >
        SPhone = #{sphone,jdbcType=CHAR},
      </if>
      <if test="saddress != null" >
        SAddress = #{saddress,jdbcType=VARCHAR},
      </if>
      <if test="sbank != null" >
        SBank = #{sbank,jdbcType=VARCHAR},
      </if>
      <if test="saccountid != null" >
        SAccountID = #{saccountid,jdbcType=VARCHAR},
      </if>
      <if test="sothers != null" >
        SOthers = #{sothers,jdbcType=VARCHAR},
      </if>
    </set>
    where SupplierID = #{supplierid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.woniu.domain.Supplier" >
    update supplier
    set SName = #{sname,jdbcType=VARCHAR},
      SLinkman = #{slinkman,jdbcType=VARCHAR},
      SPhone = #{sphone,jdbcType=CHAR},
      SAddress = #{saddress,jdbcType=VARCHAR},
      SBank = #{sbank,jdbcType=VARCHAR},
      SAccountID = #{saccountid,jdbcType=VARCHAR},
      SOthers = #{sothers,jdbcType=VARCHAR}
    where SupplierID = #{supplierid,jdbcType=INTEGER}
  </update>
</mapper>